@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700.css');

@import 'colors.less';

.narrow-paragraph {
  max-width: 700px;
}
.app-root-2022-plastic_trade .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  .chart_container {
    margin: 40px 5px;
    max-width: 700px;
    .chart {
      .tooltip_container {
        .tooltip_header {
          color: #000;
          font-size: 20px;
          line-height: 22px;
          margin: 0 0 5px 0;
        }
        .tooltip_label {
          font-size: 18px;
          font-weight: 400;
          line-height: 20px;
        }
        .tooltip_value {
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
        }
      }
    }
  }
  .counter_container {
    margin: 40px 5px;
    .counter {
      font-family: Roboto Condensed, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 36px;
      font-weight: 700;

    }
    h4 {
      max-width: 340px;
      margin: 0 0;
      font-weight: 400;
      font-size: 20px;
    }
  }
}

@import 'basics.less';